body{
 background: url(../img/back.jpg);
 background-size: cover;
}

.background-overlay{
    background: rgba(114, 78, 0, 0.438)
    
} 

ul {
    list-style: none;
    text-decoration: none;
}

.main-footer   {
    text-decoration: none;
    background-color: rgba(26, 26, 26, 0.877)   ;
    );
}